.mainContainer {
  max-width: 1400px;
  margin: 0px auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.simpletodosWrapper {
  background-color: #ffc2a0;
  padding: 40px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapperCon {
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapperCon h1 {
  font-size: 40px;
  font-weight: 600;
  color: #ff8542;
}

.todosWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 20px;
}
